<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link href="{{ url_for('static', filename = 'css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body>
<div class="shadow"></div>

<div class="epos">
    <div class="eball">
      <div class="egrad"></div>
      <div class="ewin"></div>
      <div class="textbox"></div>
    </div>
</div>
</body>
</html>